@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
button {
  font: inherit;
  border: none;
}

li {
  list-style: none;
}

/* BODY */
body {
  font-family: Poppins, sans-serif;
  font-size: 32px;
  height: 100lvh;
  background-image: radial-gradient(
      circle at 85% 1%,
      hsla(190, 0%, 93%, 0.05) 0%,
      hsla(190, 0%, 93%, 0.05) 96%,
      transparent 96%,
      transparent 100%
    ),
    radial-gradient(
      circle at 14% 15%,
      hsla(190, 0%, 93%, 0.05) 0%,
      hsla(190, 0%, 93%, 0.05) 1%,
      transparent 1%,
      transparent 100%
    ),
    radial-gradient(
      circle at 60% 90%,
      hsla(190, 0%, 93%, 0.05) 0%,
      hsla(190, 0%, 93%, 0.05) 20%,
      transparent 20%,
      transparent 100%
    ),
    radial-gradient(
      circle at 79% 7%,
      hsla(190, 0%, 93%, 0.05) 0%,
      hsla(190, 0%, 93%, 0.05) 78%,
      transparent 78%,
      transparent 100%
    ),
    radial-gradient(
      circle at 55% 65%,
      hsla(190, 0%, 93%, 0.05) 0%,
      hsla(190, 0%, 93%, 0.05) 52%,
      transparent 52%,
      transparent 100%
    ),
    linear-gradient(135deg, rgb(37, 79, 222), rgb(96, 189, 244));
  text-align: center;
}

header,
main {
  max-width: 600px;
  margin: 0 auto;
}

/* MAIN */
main {
  background-color: #f5f5f5;
  min-height: calc(100% - 150px);
  max-height: calc(100% - 150px);
  overflow-y: scroll;
  border-radius: 25px;
}

main::-webkit-scrollbar {
  display: none;
}

/* TODO INPUT */
#task-input {
  /* TODO: make sticky */

  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  background-color: #edebeb;

  display: flex;
  flex-direction: row;
  gap: 0;
}

#task-input input {
  padding: 0 25px;
  border: none;

  border-top-left-radius: 25px;
  border-top-right-radius: none;
  border-bottom-left-radius: none;
  border-bottom-right-radius: none;
}

#task-input input:focus {
  outline: none;
}

#task-input button {
  background-color: #60bdf4;
  color: #f5f5f5;
  border: none;

  border-top-left-radius: none;
  border-top-right-radius: 25px;
  border-bottom-left-radius: none;
  border-bottom-right-radius: none;

  width: 100%;
}

#task-input button:is(:hover, :focus) {
  background-color: #60bef4c4;
  cursor: pointer;
}

/* TASK CONTAINER */
.task-container {
  margin: 0.4em 15px;
  padding: 5px 15px;

  background-color: #edebeb;
  border-radius: 15px;
}

.task-container .task {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.task-container .task-controls .edit-btn {
  color: #008000;
  transition: color 0.2s;
}

.task-container .task-controls .edit-btn:is(:hover, :focus) {
  color: #00800095;
  cursor: pointer;
}

.task-container .task-controls .delete-btn {
  color: #ff0000;
  transition: color 0.2s;
}

.task-container .task-controls .delete-btn:is(:hover, :focus) {
  color: #ff0000a4;
  cursor: pointer;
}

/* MODAL */
.task_edit-modal {
  max-width: 600px;
  border: none;
  padding: 1em;
  background-color: #f5f5f5;
  border-radius: 25px;

  top: 35%;
  left: 50%;

  translate: -50% -50%;
}

.task_edit-modal input {
  display: block;
  border: none;
  padding: 0 15px;
  margin-bottom: 20px;
}

.task_edit-modal button {
  background-color: #60bdf4;
  color: #f5f5f5;
  border: none;
  border-radius: 10px;
  padding: 0 15px;
}

.task_edit-modal button#task_edit-btn-close {
  background-color: #ff0000a4;
}

.task_edit-modal button:hover {
  cursor: pointer;
}
