@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
button {
  font: inherit;
  border: none;
}

li {
  list-style: none;
}

body {
  background-image: radial-gradient(
      circle at 48% 33%,
      rgba(255, 255, 255, 0.04) 0%,
      rgba(255, 255, 255, 0.04) 8%,
      transparent 8%,
      transparent 92%
    ),
    radial-gradient(
      circle at 28% 16%,
      rgba(255, 255, 255, 0.04) 0%,
      rgba(255, 255, 255, 0.04) 8%,
      transparent 8%,
      transparent 92%
    ),
    radial-gradient(
      circle at 34% 52%,
      rgba(77, 28, 28, 0.03) 0%,
      rgba(77, 28, 28, 0.03) 6%,
      transparent 6%,
      transparent 94%
    ),
    radial-gradient(
      circle at 92% 52%,
      rgba(77, 28, 28, 0.03) 0%,
      rgba(77, 28, 28, 0.03) 6%,
      transparent 6%,
      transparent 94%
    ),
    radial-gradient(
      circle at 77% 84%,
      rgba(77, 28, 28, 0.03) 0%,
      rgba(77, 28, 28, 0.03) 6%,
      transparent 6%,
      transparent 94%
    ),
    radial-gradient(
      circle at 75% 64%,
      rgba(77, 28, 28, 0.03) 0%,
      rgba(77, 28, 28, 0.03) 6%,
      transparent 6%,
      transparent 94%
    ),
    radial-gradient(
      circle at 70% 62%,
      rgba(255, 255, 255, 0.04) 0%,
      rgba(255, 255, 255, 0.04) 4%,
      transparent 4%,
      transparent 96%
    ),
    radial-gradient(
      circle at 55% 100%,
      rgba(255, 255, 255, 0.04) 0%,
      rgba(255, 255, 255, 0.04) 4%,
      transparent 4%,
      transparent 96%
    ),
    radial-gradient(
      circle at 12% 11%,
      rgba(255, 255, 255, 0.04) 0%,
      rgba(255, 255, 255, 0.04) 4%,
      transparent 4%,
      transparent 96%
    ),
    radial-gradient(
      circle at 35% 55%,
      rgba(255, 255, 255, 0.04) 0%,
      rgba(255, 255, 255, 0.04) 4%,
      transparent 4%,
      transparent 96%
    ),
    linear-gradient(45deg, rgb(26, 21, 192), rgb(171, 83, 239));
  height: 100lvh;
  font-family: Poppins, sans-serif;
  font-size: 32px;
  text-align: center;
}

header,
main {
  max-width: 600px;
  margin: 0 auto;
}

main {
  background-color: #f5f5f5;
  min-height: calc(100% - 150px);
  max-height: calc(100% - 150px);
  overflow-y: scroll;
  border-radius: 25px;
}

main::-webkit-scrollbar {
  display: none;
}

#task-input {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  background-color: #edebeb;
  display: flex;
  flex-direction: row;

  gap: 0;
}

#task-input input {
  padding: 0 25px;
  border: none;
  border-top-left-radius: 25px;
  border-top-right-radius: none;
  border-bottom-left-radius: none;
  border-bottom-right-radius: none;
}

#task-input :focus {
  outline: none;
}

#task-input button {
  background-color: #60bdf4;
  color: white;
  border: none;
  border-top-left-radius: none;
  border-top-right-radius: 25px;
  border-bottom-left-radius: none;
  border-bottom-right-radius: none;
  width: 100%;
}

#task-input button:is(:hover, :focus) {
  background-color: #60bdf4;
  cursor: pointer;
}

.task-container {
  margin: 0.4em;
  padding: 0 15px;
  background-color: #edebeb;
  border-radius: 15;
}

.task-container .task {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.task-container .task-controls .edit-btn {
  color: green;
}

.task-container .task-controls .delete-btn {
  color: #df5252;
  transition: color 0.3ss;
}

.task-container .task-controls .edit-btn:is(:hover, :focus) {
  color: rgb(100, 226, 100);
  cursor: pointer;
}

.task-container .task-controls .delete-btn:is(:hover, :focus) {
  color: #ff0000;
  transition: color 0.3s;
}
